* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
}

.contact-form {
  background: lightblue;
  padding: 20px;
  max-width: 500px;
  border-radius: 4px;
  font-family: sans-serif;
  color: white;
  margin: 20px auto;
  text-align: left;
}

.label_input_wrap {
  display: block;
}

.reset input,
.submit input {
  background: orange;
  color: white;
  padding: 5px 20px;
  border-radius: 4px;
}

.reset,
.submit {
  display: inline;
}

.input-section {
  margin-bottom: 10px;
}

input {
  padding: 5px 10px;
  border-radius: 3px;
}

textarea {
  font-family: sans-serif;
  padding: 9px 10px;
  border-radius: 3px;
}

select {
  width: 185px;
  padding: 8px 0;
  border-radius: 3px;
}

label {
  font-weight: bold;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

body {
  background: aliceblue;
}
